{% extends "sunsettosunset/_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% from "sunsettosunset/_macros" import configWarning %}

{% set selectedTab = 'location' %}

{% set content %}

    <form method="post" action="" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>

        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="plugins/savePluginSettings">
        <input type="hidden" name="pluginClass" value="SunsetToSunset">
        <input type="hidden" name="redirect" value="sunsettosunset/location">

        <div class="field">
            <div class="half-width-field  half-width-field-left">
                {{ forms.textField({
                    first:         true,
                    label:        'Latitude'|t,
                    required:     true,
                    instructions: 'Enter the latitude of the target sunset location.'|t,
                    id:           'settings-latitude',
                    name:         'settings[latitude]',
                    type:         'text',
                    placeholder:  '0.0000000',
                    value:        settings['latitude'],
                    disabled:     (craft.config.get('latitude', 'sunsettosunset') is not sameas(null)),
                    warning:      (craft.config.get('latitude', 'sunsettosunset') is not sameas(null)) ? configWarning('latitude'),
                    errors:       settings.getErrors('latitude')
                }) }}
            </div>

            <div class="half-width-field">
                {{ forms.textField({
                    label:        'Latitude'|t,
                    required:     true,
                    instructions: 'Enter the longitude of the target sunset location.'|t,
                    id:           'settings-longitude',
                    name:         'settings[longitude]',
                    type:         'text',
                    placeholder:  '0.0000000',
                    value:        settings['longitude'],
                    disabled:     (craft.config.get('longitude', 'sunsettosunset') is not sameas(null)),
                    warning:      (craft.config.get('longitude', 'sunsettosunset') is not sameas(null)) ? configWarning('longitude'),
                    errors:       settings.getErrors('longitude')
                }) }}
            </div>
        </div>

        {{ forms.selectField({
            label:        'Time Zone'|t,
            instructions: 'Select the time zone of the target sunset location.'|t,
            id:           'settings-timezone',
            name:         'settings[timezone]',
            value:        settings['timezone'],
            options: {
                'America' : {
                    optgroup: 'America',
                },
                'Pacific/Honolulu' : 'Pacific/Honolulu',
                'America/Anchorage' : 'America/Anchorage',
                'America/Los_Angeles' : 'America/Los_Angeles',
                'America/Phoenix' : 'America/Phoenix',
                'America/Chicago' : 'America/Chicago',
                'America/New_York' : 'America/New York',
                'America/Denver' : 'America/Denver',
            },
            class:        (craft.config.get('timezone', 'sunsettosunset') is not sameas(null)) ? 'disabled',
            disabled:     (craft.config.get('timezone', 'sunsettosunset') is not sameas(null)),
            warning:      (craft.config.get('timezone', 'sunsettosunset') is not sameas(null)) ? configWarning('timezone'),
            errors:       settings.getErrors('timezone')
        }) }}

        <div class="buttons">
            <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
        </div>

    </form>

{% endset %}