{% includeCssResource "sunsettosunset/css/SunsetToSunset.css" %}
{% set plugin = craft.sunsettosunset %}
<div class="sts__container  {{ plugin.bannerCssPosition == 'fixed' ? 'sts__container--fixed' }}"
	style="
		{{ plugin.bannerCssPosition ? 'position: ' ~ plugin.bannerCssPosition ~ ';' }}
		{{ plugin.bannerCssBackgroundColor ? 'background-color: ' ~ plugin.bannerCssBackgroundColor ~ ';' }}
	"
>
	<div class="sts__message">
		<p>
			{{ bannerMessage }}
			The store will be closed from 
			<strong>
				<time datetime="{{ closingTime | date('c') }}">{{ closingTime | date('l, F j \\a\\t g:ia T') }}</time>
			</strong>
			and will re-open on 
			<strong>
				<time datetime="{{ openingTime | date('c') }}">{{ openingTime | date('l, F j \\a\\t g:ia T') }}</time>.
			</strong>
		</p>
	</div>
</div>