{% includeCssResource "sunsettosunset/css/SunsetToSunset_Style.css" %}

<div class="sts__container"
	style="
		{{ craft.sunsettosunset.bannerCssPosition ? 'position: ' ~ craft.sunsettosunset.bannerCssPosition ~ ';' }}
		{{ craft.sunsettosunset.bannerCssBackgroundColor ? 'background-color: ' ~ craft.sunsettosunset.bannerCssBackgroundColor ~ ';' }}
	"
>
	<div class="sts__message">
		<p>
			{{ message }} 
			The store will be closed from 
			<strong>
				<time datetime="{{ closingTime | date('c') }}">{{ closingTime | date('l, F j \\a\\t g:ia T') }}</time>
			</strong>
			and will re-open on 
			<strong>
				<time datetime="{{ openingTime | date('c') }}">{{ openingTime | date('l, F j \\a\\t g:ia T') }}</time>.
			</strong>
		</p>
	</div>
</div>